* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-content {
  padding: 15px;
  font-family: poppins;
}

.continue-shopping-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  height: 36px;
  width: auto;
  padding: 0 12px;
  border: none;
  border-radius: 18px;
  font-weight: 500;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(10, 10, 10);
  cursor: pointer;
}

.leftward-arrow-icon {
  height: 18px;
  width: 18px;
  filter: invert(100%);
}

.cart-header {
  display: flex;
  flex-direction: row;
  column-gap: 12pxs;
  align-items: center;
  height: 40px;
  width: 100%;
  margin-top: 12px;
}

.cart-header p {
  font-weight: 500;
  font-size: 24px;
}

.cart-content {
  display: flex;
  flex-direction: row;
  column-gap: clamp(12px, 3vw, 20px);
  padding-top: 12px;
}

.cart-items-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 61vw;
}

.cart-item {
  display: flex;
  flex-direction: row;
  gap: 12px;
  height: 150px;
  width: 100%;
  border-radius: 12px;
  background-color: rgb(185, 222, 255);
}

.order-summary {
  display: flex;
  width: 36vw;
  height: auto;
  border-radius: 12px;
  background-color: rgb(235, 235, 147);
}

.checkout-section-container {
  display: flex;
  width: 100%;
  height: 500px;
  margin-top: 24px;
  border-radius: 12px;
  background-color: rgb(167, 243, 171);
}

.payment-section-container {
  display: flex;
  width: 100%;
  height: 500px;
  margin-top: 24px;
  border-radius: 12px;
  background-color: rgb(168, 174, 168);
}

.recommended-products-container {
  display: flex;
  height: 500px;
  width: 100%;
  margin-top: 24px;
  border-radius: 12px;
  background-color: rgb(199, 156, 240);
}

@media (max-width: 768px) {
  .cart-content {
    flex-direction: column;
    gap: 24px;
    width: 100%;
    height: auto;
  }

  .order-summary {
    width: 100%;
    height: 400px;
  }

  .cart-items-container {
    width: 100%;
  }
}