* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 65px;
  width: 100%;
  padding: 0 12px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

.header-content {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 12px;
  box-sizing: border-box;
}

.header-logo-button {
  height: 50px;
  width: 50px;
  min-width: 50px;
  border: none;
  background: url('../images/logos/perfume-palace-high-resolution-logo.png') no-repeat center center;
  background-size: contain;
  cursor: pointer;
  border-radius: 50%;
}

.header-logo-text {
  align-items: center;
  font-family: quicksand;
  font-weight: 600;
  font-size: 20px;
}

.navigation-menu {
  display: flex;
  position: absolute;
  right: 132px;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  height: 24px;
  width: auto;;
  padding: 0 12px;
  margin-left: 18px;
  box-sizing: border-box;
  margin-left: clamp(160px, 1vw, 800px);
}

.navigation-menu button{
  all: unset;
  display: flex;
  align-items: center;
  border: none;
  padding: 2px 6px;
  font-family: ubuntu;
  font-weight: 400;
  font-size: 15px;
  transition: color 0.2s ease, filter 0.2s ease;
}

.navigation-menu button:hover {
  color: rgb(120, 120, 120);
  filter: invert(45%) sepia(4%) saturate(96%) hue-rotate(19deg) brightness(103%) contrast(92%);
}

.drop-down-icon {
  all: unset;
  position: relative;
  height: 22px;
  width: 22px;
  background-color: transparent;
}


@media (max-width: 768px) {
  .navigation-menu {
    display: none;
  }
}

.header-actions {
  display: flex;
  position: absolute;
  right: 12px;
  column-gap: 6px;
  align-items: center;
  height: 100%;
}

.header-actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.header-actions img {
  width: 20px;
  height: 20px;
  max-width: 100%;
  max-height: 100%;
  background: transparent;
}

.header-actions button:hover {
  background-color: rgb(203, 203, 203);
  border-radius: 5px;
}


@media (max-width: 576px) {
  .header-actions {
    display: none;
  }
}

.hamburger-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin-left: auto;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  filter: invert(0%) sepia(0%) saturate(6%) hue-rotate(160deg) brightness(93%) contrast(103%);
  transition: all 0.3s ease;
}

.hamburger-menu-button:hover {
  background-color: rgb(203, 203, 203);
}

.hamburger-menu-button img {
  width: 30px;
  height: 30px;
  max-width: 100%;
  max-height: 100%;
  background: transparent;
}

@media (min-width: 576px) {
  .hamburger-menu-button {
    display: none;
  }
}

footer {
  height: auto;
  margin-top: 20px;
  font-family: poppins;
  background-color: rgb(230, 230, 230);
}

footer ul, li {
  list-style: none;
  padding-top: 3px;
}

footer a {
  text-decoration: none;
  color: rgb(90 , 70, 70);
}

.footer-content {
  display: flex;
  flex-direction: row;
  column-gap: 10vw;
  row-gap: 20px;
  padding: 30px 20px;
  flex-wrap: wrap;
}

.footer-list-header {
  font-size: 20px;
}

.company-description {
  width: clamp(250px, 20vw, 100%);
}

.company-description-header {
  font-family: poppins;
  font-weight: 500;
  font-size: 20px;
}

.company-description-text { 
  font-weight: 400;
  font-size: 15px;
  padding-top: 8px;
  color: rgb(90 , 70, 70);
}

.footer-socials ul{
  all: unset;
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-between;
}

.footer-socials li {
  cursor: pointer;
}

.footer-socials img{
  width: 26px;
  height: 26px;
}

.copyright-notice {
  display: flex;
  justify-content: center;
  padding: 12px 0;
  color: rgb(90 , 70, 70);
}