*,
body,
main,
footer,
section,
header,
p {
  margin: 0;
  padding: 0;
}

.page-content {
  margin: 0 12px;
  background-color: lightblue;
  height: 3000px;
}

.product-container {
  display: flex;
  column-gap: 20px;
}

.product-image-container {
  position: relative;
  display: inline-block;
  border-radius: 6px;
  overflow: hidden;
}

.product-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  mix-blend-mode: multiply;
  pointer-events: none;
  z-index: 2;
}

.product-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.product-details-container {
  background-color: rgb(41, 206, 41);
  width: 100%;
  height: 320;
}

.product-brand {
  font-family: poppins;
  font-size: 13px;
  color: rgb(80, 80, 80);
}

.product-name {
  font-family: poppins;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.product-volume {
  font-family: poppins;
  font-size: 15px;
  color: rgb(0, 0, 0);
  margin-top: 10px;
}

.product-description {
  font-family: poppins;
  font-size: 15px;
  color: rgb(0, 0, 0);
  margin-top: 10px;
}

.product-price {
  font-family: poppins;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance:textfield;
}

.product-quantity {
  display: inline-flex;
  border-radius: 4px;
  overflow: hidden;
  width: auto;
}

.quantity-minus-button {
  border: none;
  background-color: white;
  cursor: pointer;
  width: 20px;
  background-color: lightpink;
}

.quantity-add-button {
  border: none;
  background-color: white;
  cursor: pointer;
  width: 20px;
  background-color: lightpink;
}

.quantity-input {
  border: none;
}

.quantity-button:first-child {
  position: absolute;
  left: -20px;
}